/go.sum
/i18n/locales/*.mo
/.env
/i18n/locales/en.pot
/Reports/*
/Data/*
/CronSaveStats
/peertubeExportStat
/peertube-stats-log-from-*
/peertubestats
/peertubeStats.zip
/dotenv
/Peek*.mp4
/worktime.csv